body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: lightslategray;
    border: 1px solid black;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap:8px;
    
}

.output{
    background-color: white;
    text-align: right;
    font-size: 36px;
    padding: 10px;
    margin: 5px 10px 0px 10px;
    border-radius: 6px;
}

.main-button-container {
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    margin: 10px;
    
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equal-button {
    flex-grow: 1;
    background-color: #B74F09;
}

.clear-button {
    background-color: #8B1313;
}

.number-button {
    background-color: #5C595B;
    
}

.other-button, .operator-button {
    background-color: #695166;
}

button {
    padding: 12px 24px; /* Top/Bottom Left/Right */
    font-size: 24px;
    color:white;
    border-radius:6px;
    min-height: 81px;
    min-width: 81px;
}