body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: 640px;
    width: 512px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    
}

.output{
    background-color: white;
    text-align: right;
    padding: 10px;
    border-radius: 6px;
}